/.ipynb_checkpoints
/analysis/notebooks/.ipynb_checkpoints
/data/**/*.csv
/references/bncc_reference.pdf

# python stuffs
/src/**/__pycache__/
.idea/
.mypy_cache
.env
models/lr_second_model.bin
models/lr.bin